# Исключаем системные файлы Windows
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
Pictures/
Saved Games/
Searches/
Videos/
NTUSER.*
ntuser.*

# Исключаем временные файлы и конфигурации
.bash_history
.cache/
.gitconfig
.idlerc/
.ipython/
.lesshst
.ssh/
.vscode/

# Исключаем логи и другие ненужные файлы
bot.log
*.log
*.tmp

# Исключаем конфигурационные файлы IDE
.idea/